* {
    align-content: center;
    text-align: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: black;
    color: rgb(206, 193, 193);
}

.classP1 {
    color: rgb(243, 164, 44);
}

asd {
    color: rgb(125, 82, 243)
}




